@model WebApp.Models.Beach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Beach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Customer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Beach Accesscode")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeachAccess.AccessCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSeaPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSeaPoint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
