@model WebApp.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAccess.AccessCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAccess.AccessCode)
        </dd>

        <dt>
            @Html.Label("Number of Beaches")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beaches.Count)
        </dd>

        <dt>
            @Html.Label("Number of registered users")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceUsers.Count)
        </dd>

        <dt>
            @Html.Label("Number of registered Devices")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devices.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
