@model WebApp.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.Label("Device Username")
        </dt>
        <dd>
            @ViewData["DeviceUserName"].ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @(Model.CustomerId == null ? Html.Raw("NA") : Html.DisplayFor(model => model.Customer.Name))

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
